<div class="container">
  <div class="row">
    <h1>Información últimos 15 sismos</h1>

    <!-- <input type="text" class="form-control bg-dark textlight border-0 my-4 rounded-0" (keyup)="searchCoin()"
      [(ngModel)]="searchText" /> -->

    <table class="table table-dark">
      <thead>
        <tr>
          <th *ngFor="let title of titles">{{title}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sismo of sismos, let i = index">
          <td class="text-muted">{{i + 1}}</td>
          <td>
            <span class="text-muted">
              {{ sismo.horaLocal }}
            </span>
          </td>
          <td>
            <span class="text-uppercase ms-2">
              {{ sismo.referencia}}
            </span>
          </td>
          <td>{{sismo.latitud}}</td>
          <td [ngClass]="sismo.magnitud > 3 ? 'text-danger' : 'text-warning'">
            {{sismo.magnitud}}</td>
          <td>{{sismo.profundidad}}</td>
          <td>
            <img [src]="sismo.mapa" alt="sismo.latitud" class="">
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
